<article>
   <section>
      <img src="{{post.image_url}}" alt="post image">
   </section>
	<section>
		<h3>{{post.title}}</h3>
		<p>in {{thread.title}}</p>
	</section>
	<section>
		<p>{{date_format date}}</p>
		<p>by {{user.username}}</p>
	</section>
</article>