{{!  
  * Just Kidding
  * thread.handlebars
  * Contains handlebars to render a thread's title, and every post that belongs to that thread. If the thread is Marketplace, then each post will additionally render post.price property
  * Copyright 2022 Alicia Santidrian, Jess Huang, Leo Wong
}}

<div class="row">
  <div>
    {{!-- Handlebar to render thread.title --}}
    <h2 class="text-center pt-2 thread-title">{{thread.title}}</h2>
  </div>
</div>
<div class="card-container">
  <div class=" card-body row justify-content-center m-2">
    <div class="old-post card  col-sm-5 p-3 m-2">
      <h2>Latest Post</h2>
      <div class="card-body old-post-body">
        {{!-- Handlebar to render the latest post's title --}}
        <h4 class="card-title border-bottom border-secondary border-2">{{posts.[0].title}}</h4>
        {{!-- Conditionally render the latest post's price, if the thread is Marketplace --}}
        {{#if isMarketplace}}
        <p class="card-text">Price:${{posts.[0].price}}</p>
        {{/if}}
        {{!-- Handlebar to render the latest post's text --}}
        <p class="card-text">{{posts.[0].text}}</p>
        {{!-- Handlebar to render the latest post's user's username, as well as a long date format of the latest post's date --}}
        <p class="card-text"><small class="text-muted">Posted by {{posts.[0].user.username}} on {{format_date_long posts.[0].date}}</small></p>
        {{!-- Handlebar to render the latest post's image --}}
        <img src="{{posts.[0].image_url}}" alt="latest post image" class="card-img-bottom" alt="...">
      </div>
    </div>
    <div class="new-post card col-sm-5 p-3 m-2">
      <div>
        <h2>Make a new post</h2>
        <form action="/api/posts/uploads" class="upload-form p-2" method="post" enctype="multipart/form-data">
          {{!-- Handlebar to conditionally render elements based on whether the thread is Marketplace --}}
          {{#if isMarketplace}} 
          <div class="row">
            <div class="mb-3 col">
              <label class="form-label">Item</label>
              <input placeholder="Baby nappies..." maxlength="100" class="form-control" type="text" name="title" required/>
            </div>
            <div class="mb-3 col">
              <label class="form-label">Price</label>
              <input placeholder="$" class="form-control" type="number" step="any" min="0" name="price" required/>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <input placeholder="Describe your item" class="form-control" maxlength="300" type="text" name="text" required/>
          </div>
          {{else}}
          <div class="mb-3">
            <label class="form-label">Title</label>
            <input placeholder="Interesting story" maxlength="100" class="form-control" type="text" name="title" required/>
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <input placeholder="Describe what happened" class="form-control" maxlength="300" type="text" name="text" required />
          </div>
          {{/if}}
          <input style="display: none;" type="text" name="threadId" value="{{thread.id}}" />
          <div class="mb-3">
            <label for="formFile" class="form-label">Upload an Image (.jpg files only)</label>
            <input class="form-control" type="file" accept=".jpg,.jpeg" name="upload" required>
          </div>
          <button type="submit" class="post-btn btn mb-3">Submit</button>
        </form>
      </div>
      <div class="history">
        <h3>All Posts</h3>
        {{!-- Handlebars to conditionally render either historyMarkplace partial or history partial --}}
        {{!-- is marketplace --}}
        {{#if isMarketplace}}
        {{#each posts as |post|}}
        {{>historyMarketplace}}
        {{/each}}
        {{!-- isn't marketplace --}}
        {{else}}
        {{#each posts as |post|}}
        {{>history}}
        {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</div>